{% extends "layout.html" %}

{% block head %}
<title>О нас</title>
{% endblock %} 

{% block main %}

<h1>О нашей компании</h1>
<p>Клинический центр пластической хирургии и медицинской косметологии г. Минска» . 
    Успех нашей работы основывается на более чем 40-летнем опыте, 
    высококвалифицированной команде специалистов и использовании современных технологий и оборудования.
    <dfn title=" Добро пожаловать в CosmetologyCenter.by "> – вашему надежному партнеру
        в
        мире
        косметологии! Мы гордимся тем, что предлагаем широкий ассортимент
        высококачественных услуг, а также профессиональное обслуживание и
        индивидуальный подход к каждому клиенту. Наш <a href="#History">опыт и преданность качеству</a>
        сделали нас лидерами в отрасли, и мы всегда готовы помочь вам.</dfn>
</p>
<h2>Основными целями и задачами центра являются:</h2>
<ul>
    <li>
        Оказание <strong>высококвалифицированных</strong> специализированных
        платных  медицинских услуг по косметологии, пластической эстетической хирургии,
        физиотерапии, стоматологии терапевтической;
    </li>
    <li>
        Внедрение <strong>новых</strong> медицинских технологий, методик, операций;
    </li>
    <li>
        Постоянное <strong>усовершенствование</strong> навыков врачей и средних медицинских работников;</strong> 
    </li>
</ul>

<p>
    В клиническом центре функционируют следующие лечебные структурные подразделения:
     отделение пластической эстетической хирургии, группа анестезиологии и реанимации, 
     три косметологических отделения, физиотерапевтический кабинет, стоматологический кабинет.
</p>

<p>
    <a href="#Contacts">Свяжитесь с нами сегодня</a>, чтобы задать все интересующие вас вопросы!
</p>

<h1>Наше видео</h1>

<div style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/W5dsZ5RRu-w?si=ucYj85W-fi_3hsHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<h1>Наш логотип:</h1>
<div style="text-align: center;">

    <img src="../media/images/lotus.png" alt="Логотип"  width="300em" height="200em" />
</div>

<h1 id = "History">История нашей компании</h1>

<h2>1980: Основание</h2>
<p>1 декабря 1980г. решением Мингорисполкома в г.Минске была открыта косметологическая лечебница.</p>

<h2>1996: Реорганизация</h2>
<p>В сообтветствии с решением Мингорисполкома от 27 июня 1996 г. и приказом Министерства здравоохранения в связи
     с созданием современной лечебно-диагностической базы космметоогическая лечебница была реорганизована в клинический
      центр пластической хирургии и медицинской косметологии г.Минска</p>

<h2>Открытие КО №3 на Жиновича</h2>
<p>Открытие</p>

<h1 id = "Contacts">Реквизиты</h1>

<p><strong>Адрес:</strong> ул. Петруся бровки 6, Минск, 220004.</p>
<p><strong>Телефон:</strong>+375 (29) 123-45-67</p>
<p><strong>Электронная почта:</strong> <a href="#">CosmetologyCenter@gmail.com</a></p>

<h2>Часы работы:</h2>
<p>Понедельник - Пятница: 9:00 AM - 6:00 PM</p>
<p>Суббота: Выходной</p>
<p>Воскресенье: Выходной</p>

<h2>Социальные медиа:</h2>
<ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>  
</ul>

<h2>Номера для обратной связи:</h2>
<ul>
    <li>Поддержка: +375 (29) 123-45-67</li>
    <li>Техническая помощь: +375 (29) 123-45-67</li>
</ul>

<h1>СЕРТИФИКАТ</h1>
<p>Настоящим удостоверяется, что</p>
<h2>CosmetologyCenter</h2>
<p>является официальным владельцем и администратором веб-сайта</p>
<h3>CosmetologyCenter.by</h3>
<p>в течение срока действия данного сертификата.</p>
<p>Сертификат выдан 01.01.2015 и действителен до 01.01.2025.</p>
<p>Этот сертификат подтверждает, что CosmetologyCenter обладает всеми
    необходимыми правами и полномочиями на управление и содержание
    CosmetologyCenter.by.</p>
<div>
    <p><em>Подпись уполномоченного лица</em></p>
    <p><strong>Киселёв А.В</strong></p>
    <p>Владелец</p>
    <p>CosmetologyCenter</p>
</div>
<p>Для подтверждения действительности этого сертификата, пожалуйста, посетите
    наш веб-сайт CosmetologyCenter.by или свяжитесь с нами по телефону +375 (29) 123-45-67.</p>

{%endblock%}