{% extends "layout.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/FAQ.css'%}"/>

<title>FAQ</title>
{% endblock %}

{% block main %}
<div class="faq-content">
    <h1>Часто Задаваемые Вопросы</h1>

    <ul>
        {%for F in faq%}
        <li>
            <details>
                <summary>
                    <p> <strong>{{F.question}}</strong></p>
                </summary>
                <p>{{F.answer}}</p>
                <p>Добавлено: {{F.date_added}}</p>
            </details>

        </li>

        {%endfor%}

    </ul>
</div>
{% endblock %}