{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/home.css'%}"/>

<title>Главная страница</title>
{% endblock %}


{% block main %}
<h1>Главная страница</h1>

<h2>Последняя актуальная новость:</h2>

<div class="news">
    <h2>{{news.title}}</h2>
    <h3>{{news.essence}}</h3>
    <img src="{{news.photo.url}}" width="500em" height="300em">
    <a href="{% url 'main:news' %}">Показать больше</a>
</div>

<h2>Многиее выбирают:</h2>

<ul class="service-list">
    {% for service in services %}
    <div class="service-details">
        <li>
            <img src="{{ service.image.url }}">
            <h3>{{ service.service_name }}</h3>
            <a href="{% url 'services:service-detail' service.id %}">Подробнее</a>
        </li>
    </div>
    {% endfor %}
</ul>

<h2>Партнеры:</h2>

<ul class="partners-list">
    <li class="partner-block">

        <figure>
            <p><img src="../media/images/DocDoc.png" alt="DocDoc" width="70em" height="70em"></p>
            <figcaption> <a href="https://docdoc.ru/clinic/spec/kosmetologiya"
                    target="_blank">DocDoc</a></figcaption>
        </figure>

    </li>
    <li class="partner-block">
        <figure>
            <p><img src="../media/images/SM-Estetica.png" alt="SM-Estetica" width="80em" height="80em"></p>
            <figcaption> <a href="https://www.sm-estetica.ru/"
                    target="_blank">SM-Estetica</a></figcaption>
        </figure>

    </li>   
</ul>

<div class="sidebar-banners">
    {% for banner in banners %}
        <a href="{{ banner.target_url }}">
            <img src="{{ banner.image.url }}" alt="{{ banner }}" width="300em" height="200em" />
        </a>
    {% endfor %}
</div>

<div class="banner" id="banner1">
    <a href="https://goldapple.ru/" target="_blank"><img width="50%" height="250px" src="../media/images/GoldenApple.png" alt="Баннер Золотое яблоко"></a>
</div>
<div class="banner" id="banner2">
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmila.by%2Freklamnaya-igra%2F&psig=AOvVaw2IeK1ntBulxg4htfk5gWDd&ust=1695718104606000&source=images&cd=vfe&opi=89978449&ved=0CBMQ3YkBahcKEwioot2_sMWBAxU" target="_blank"><img width="50%" height="250px" src="../media/images/Mila.jpg" alt="Баннер Милы"></a>
</div>
<form id="rotationForm" {% if not user.is_superuser %}style="display: none;"{% endif %}>
    <label for="rotationInterval">Интервал ротации (сек):</label>
    <input  type="number" id="rotationInterval" value="2">
    <button type="button" id="startRotation">Start Rotation</button>
    <button type="button" id="stopRotation">Stop Rotation</button>
</form>

<div class="scroll">
    <img id="right_woman" src="../media/images/womanRight.png" alt="Woman on the right">
    <img id="left_woman" src="../media/images/womanLeft.png" alt="Woman on the left">
    <img id="bottom_woman" src="../media/images/womanBottom.png" alt="Woman on the bottom">
    <img id="center_woman" src="../media/images/womanCenter.png" alt="Woman in the center">
</div>
  
<script src="{% static 'js/banner.js'%}"></script>
<script src="{% static 'js/animation_scroll.js'%}"></script>
{% endblock %}