{% extends "layout.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/js_sandbox.css'%}"/>

<title>Sandbox</title>
{% endblock %} 

{% block main %}

<style>
    body {
        background-image: none;
    }
</style>

<div>
    <h2>Theme Customization</h2>
    <form>
        <label for="fontSize">Font Size: </label>
        <input type="number" id="fontSize" min="10" max="50" value="16" onchange="changeFontSize()">
        <br>
        <br>
        <label for="textColor">Text Color: </label>
        <input type="color" id="textColor" value="#000000" onchange="changeTextColor()">
        <br>
        <br>
        <label for="bgColor">Background Color: </label>
        <input type="color" id="bgColor" value="#ffffff" onchange="changeBackgroundColor()">
    </form>
</div>

<br>
<br>

<button id="colorButton">Change theme</button>
<br>
<br>

<button onclick="transposeTable()">Transpose table</button>
<br>
<br>
<button onclick="addRow()">Add row</button>
<button onclick="addColumn()">Add column</button>
<br>
<br>
<label for="maxCells">Max cells to select in a row/column:</label>
<input type="number" id="maxCells" min="1" value="1">
<br>
<br>
<label for="tableSize">Table size:</label>
<input type="number" id="tableSize" min="1" value="5">
<button onclick="createNewTable()">Create table</button>
<br>
<br>
<table id="myTable"></table>

<div>
    <h2>Functional Inheritance (Prototype-based)</h2>
    <div>
        <h3>Service Info</h3>
        <p>Name: <span id="serviceName"></span></p>
        <p>Price: <span id="servicePrice"></span></p>
        <p>Time: <span id="serviceTime"></span></p>
        <p>Service Info: <span id="serviceInfo"></span></p>
    </div>
    <div>
        <h3>Message Info</h3>
        <p>Name: <span id="messageName"></span></p>
        <p>Price: <span id="messagePrice"></span></p>
        <p>Time: <span id="messageTime"></span></p>
        <p>Type: <span id="messageType"></span></p>
        <p>Service Info: <span id="messageInfo"></span></p>
    </div>
</div>

<hr>

<div>
    <h2>Class and Extends</h2>
    <div>
        <h3>Service Info (Class)</h3>
        <p>Name: <span id="serviceNameClass"></span></p>
        <p>Price: <span id="servicePriceClass"></span></p>
        <p>Time: <span id="serviceTimeClass"></span></p>
        <p>Service Info: <span id="serviceInfoClass"></span></p>
    </div>
    <div>
        <h3>Message Info (Class)</h3>
        <p>Name: <span id="messageNameClass"></span></p>
        <p>Price: <span id="messagePriceClass"></span></p>
        <p>Time: <span id="messageTimeClass"></span></p>
        <p>Type: <span id="messageTypeClass"></span></p>
        <p>Service Info: <span id="messageInfoClass"></span></p>
    </div>
</div>

<br>
<br>

<form id="form">
    <label for="data">Введите информацию о владельцах дачных участков:</label><br>
    <textarea id="data" rows="5" cols="40"></textarea><br>
    <button type="button" onclick="findOwners()">Найти владельцев</button><br><br>

    <div id="result"></div>
</form>

<br>
<br>

<script src="{% static 'js/table.js'%}"></script>
<script src="{% static 'js/oop.js'%}"></script>
<script src="{% static 'js/individual_task.js'%}"></script>
<script src="{% static 'js/themes.js'%}"></script>
{%endblock%}