{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/news.css'%}"/>

<title>Новости</title>
{% endblock %}

{% block main %}
<section>
  {% for new in news%}
  <article>
    <h2>{{new.title}}</h2>
    <h4 class="short-description">{{new.essence}}</h4>
    <img src="{{new.photo.url}}">
    <details>
      <summary>
       больше
      </summary>
      {{new.description}}
    </details>
  </article>
  {%endfor%}
</section>
<div style="margin-bottom: 30px;"></div>
{% endblock %}