{% extends "layout.html" %}

{% block head %}
<title>Прайс-лист</title>
{% endblock %}

{% block main %}
<div>
  <h1>Прайс-лист</h1>
  {% for service_type, services in services_by_type.items %}
    <details>
      <summary>{{ service_type.designation }}</summary>
      <ul>
        {% for service in services %}
          <li><a href="{% url 'services:service-detail' service.id %}">{{ service.service_name }}</a>  ${{ service.price }}</li>
        {% endfor %}
      </ul>
    </details>
  {% endfor %}
</div>
{% endblock %}
