{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/privacy_policy.css'%}"/>

<title>Политика конфиденциальности</title>
{% endblock %}

{% block main %}

<div class="privacy-policy-block">
  <p>
    Настоящая Политика конфиденциальности и защиты персональных данных (далее -
    Политика) применяется к сайту
    <a href="{% url 'main:home' %}">https://CosmetologyCenter.by</a> (далее - сайт).
    Используя этот сайт и/или предоставляя сайту CosmetologyCenter.by персональные
    данные, Вы выражаете согласие на обработку своих персональных данных на
    условиях, предусмотренных настоящей Политикой.
  </p>
  <p>
    Если Вы не согласны с настоящей Политикой, просим Вас не пользоваться этим
    сайтом и не предоставлять сайту CosmetologyCenter.by свои персональные данные.
    Являясь одной из ведущих белорусских компаний, сайт CosmetologyCenter.by уважает
    право человека на неприкосновенность частной жизни, хорошо понимая
    необходимость обеспечения конфиденциальности и защиты персональных данных.
  </p>
  <p>
    Мы надеемся, что настоящая Политика поможет Вам понять, какого рода информацию
    мы собираем и каким образом эта информация обрабатывается.
  </p>
  <p>
    Эта Политика распространяется на информацию, собранную в связи с предлагаемыми
    сайтом CosmetologyCenter.by продуктами и услугами либо при ином взаимодействии. Для
    конкретных продуктов или услуг сайт CosmetologyCenter.by может публиковать
    дополнительные или измененные положения о конфиденциальности, такие положения
    имеют преимущественную силу перед этой Политикой в отношении любых расхождений
    между ними.
  </p>
  <p>
    Наши продукты и услуги могут содержать ссылки на сайты других компаний и иные
    услуги третьих лиц, которые имеют собственную политику конфиденциальности.
    Сайт CosmetologyCenter.by не несет ответственности за обеспечение конфиденциальности или
    содержание любых таких сайтов.
  </p>
  <p><strong>СОБИРАЕМАЯ ИНФОРМАЦИЯ</strong></p>
  <p>
    Как правило, мы собираем Ваши персональные данные, когда вы делаете покупку,
    используете или регистрируетесь для использования наших услуг, участвуете в
    рекламной акции, либо иными способами взаимодействуете с сайтом CosmetologyCenter.by.
  </p>
  <p>
    Мы производим сбор персональных данных только с вашего ведома или согласия.
    Ниже приводятся примеры категорий, к которым относятся собираемые данные.
  </p>
  <p><strong>ТЕХНИЧЕСКАЯ ИНФОРМАЦИЯ</strong></p>
  <p>
    В большинстве случаев для посещения сайта или использования наших продуктов и
    услуг не нужно сообщать нам, кто Вы такой. Тем не менее, стандартная процедура
    использования наших услуг обычно предполагает сбор определенной технической
    информации.
  </p>
  <p><strong>ИНФОРМАЦИЯ, КОТОРУЮ ВЫ НАМ ПРЕДОСТАВЛЯЕТЕ</strong></p>
  <p>
    Когда Вы регистрируетесь для пользования нашими услугами, участвуете в
    рекламной акции или иным образом взаимодействуете с сайтом CosmetologyCenter.by мы можем
    попросить Вас предоставить такую информацию, как Ваше имя и фамилия, адрес
    электронной почты, почтовый адрес, а также имена пользователей, пароли и
    другие аналогичные учетные данные, которые применяются для аутентификации
    пользователей и подтверждения их действий или могут потребоваться для
    предоставления запрошенных вами продуктов и услуг либо для связи с Вами.
  </p>
  <p>
    Мы также можем собирать другую предоставляемую Вами информацию, например, о
    Вашем согласии с условиями, предпочтениях, а также иную аналогичную
    информацию, которую Вы предоставляете нам.
  </p>
  <p><strong>ВАШИ ТРАНЗАКЦИИ С НАМИ</strong></p>
  <p>
    Мы собираем или запрашиваем информацию, касающуюся приобретения и/или
    использования Вами наших продуктов и/или услуг, а также иного взаимодействия с
    нами. Такая информация может включать, например, сведения о направленных вами
    запросах или обращениях, предоставленных продуктах и услугах (в том числе
    сведения о доставке), сведения о контактах и сообщениях и другую подобную
    информацию.
  </p>
  <p>
    Мы можем с соблюдением действующего законодательства осуществлять запись Ваших
    разговоров с центром технической поддержки клиентов или других аналогичных
    контактов.
  </p>
  <p>
    <strong>ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</strong> Сайт CosmetologyCenter.by осуществляет
    обработку Ваших персональных данных для целей, которые описаны в этой
    Политике. В каждом случае могут применяться одна или одновременно несколько
    целей:
  </p>
  <p>
    * предоставление пользователям услуг, включая показ персонализированного
    содержания;
  </p>
  <p>
    * проверка, исследование и анализ, позволяющие поддерживать, защищать и
    улучшать предоставление услуг; * защита прав и собственности сайта CosmetologyCenter.by
    или наших пользователей;
  </p>
  <p>* разработка продуктов и услуг.</p>
  <p><strong>ПЕРЕДАЧА</strong></p>
  <p>
    Мы не продаем, не передаем в аренду и иными способами не раскрываем Ваши
    персональные данные третьим лицам, если ниже не оговорено противное:
  </p>
  <p>
    * Согласие — Мы можем передать Ваши персональные данные, если Вы дали на это
    свое согласие.
  </p>
  <p>
    * Третьи лица — Мы можем передавать Ваши персональные данные сторонним
    компаниям, которые осуществляют по заказу сайта CosmetologyCenter.by обработку
    персональных данных для целей, описанных в настоящей Политике. Такие компании
    не вправе использовать Ваши персональные данные для других целей, и мы требуем
    от них действовать в соответствии с этой Политикой и использовать для защиты
    Ваших персональных данных надлежащие меры безопасности.
  </p>
  <p>
    * Обязательное раскрытие — Обязательные для исполнения законы могут требовать
    от сайта CosmetologyCenter.by раскрытия Ваших персональных данных.
  </p>
  <p>
    <strong>БЕЗОПАСНОСТЬ</strong> Сайт CosmetologyCenter.by предпринимает необходимые
    технические и организационные меры информационной безопасности для защиты
    данных от несанкционированного доступа, изменения, раскрытия или уничтожения,
    путем внутренних проверок процессов сбора, хранения и обработки данных и мер
    безопасности, а также осуществления мер по обеспечению физической безопасности
    данных для предотвращения несанкционированного доступа к системам, в которых
    мы храним персональные данные.
  </p>
  <p>
    Мы предоставляем доступ к персональным данным только тем работникам,
    подрядчикам и агентам сайта CosmetologyCenter.by, которым эта информация необходима для
    эксплуатации, разработки и улучшения нашего сайта. Эти лица обязаны выполнять
    обязательства по соблюдению конфиденциальности и могут подвергнуться
    взысканию, включая судебное преследование.
  </p>
  <p><strong>ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ</strong></p>
  <p>
    Мы предпринимаем разумные меры для поддержания точности и актуальности
    имеющихся у нас персональных данных, а также удаления устаревших и других
    недостоверных или излишних персональных данных.
  </p>
  <p>
    Вы несете ответственность за предоставление нам достоверных сведений, а также
    за обновление предоставленных данных в случае каких-либо изменений.
  </p>
  <p><strong>ВАШИ ПРАВА</strong></p>
  <p>
    В случаях, если Вы хотите узнать, какими персональными данными о Вас мы
    располагаем, либо дополнить, исправить, обезличить или удалить любые неполные,
    неточные или устаревшие персональные данные, либо хотите прекратить обработку
    нами Ваших персональных данных для целей рассылки рекламных материалов,
    прямого маркетинга или проведения исследований рынка, либо имеете другие
    убедительные законные основания, Вы можете в должном порядке и в соответствии
    с действующим законодательством реализовать такое право, обратившись к нам по
    приведенному ниже адресу.
  </p>
  <p>
    В некоторых случаях (особенно если Вы хотите удалить Ваши персональные данные
    или прекратить их обработку) это также может означать, что мы больше не сможем
    предоставлять Вам услуги. Для выполнения таких Ваших запросов сайт CosmetologyCenter.by
    может потребоваться установить Вашу личность и запросить дополнительную
    информацию. Кроме того, действующее законодательство может устанавливать
    ограничения и другие условия, касающиеся упомянутых выше Ваших прав.
  </p>
  <p>
    <strong>ИЗМЕНЕНИЯ НАСТОЯЩЕЙ ПОЛИТИКИ</strong> Сайт CosmetologyCenter.by может время от
    времени изменять настоящую Политику. В случае внесения в эту Политику
    существенных изменений, сайт CosmetologyCenter.by разместит уведомление о таких изменениях
    в начале этого документа и на странице сайта. Мы рекомендуем время от времени
    просматривать эту Политику для получения информации о любых изменениях.
  </p>
</div>

{%endblock%}