{% extends "layout.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/promotional_code.css'%}"/>

<title>FAQ Page</title>
{% endblock %}

{% block main %}

<div class="promo-container">
    <h1>Действующие промокоды:</h1>
    {% for p in actual_promotional_code %}
        <h3>{{ p.value }} - {{ p.discount }}%</h3>
    {% endfor %}
    <a href="../media/images/promo.txt" download>Скачать список актуальных промокодов</a>
</div>

<div class="promo-container">
    <h1>Промокоды в архиве:</h1>
    {% for p in archive_promotional_code %}
        <h3>{{ p.value }} - {{ p.discount }}%</h3>
    {% endfor %}
</div>

{%endblock%}