{% extends "layout.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/doctors/doctors-list.css'%}"/>

<title>Наши сотрудники</title>
{% endblock %}

{% block main %}
<h1>Наши сотрудники:</h1>

<ul>
    {% for doctor in doctors %}
        <li class="doctor-short-details">
            <img src="{{ doctor.image.url }}" alt="Фото сотрудника">
            <h3>{{ doctor.last_name }} {{ doctor.first_name }}</h3>
            <a href="{% url 'doctors:doctor-detail' doctor.id %}">Подробнее</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}