.privacy-policy-block {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    line-height: 1.5; 
    margin-bottom: 20px;
    text-align: justify; 
    text-indent: 40px;
    line-height: 100%;
    font-variant: small-caps;
}

strong {
    font-weight: bold;
}

ul {
    list-style: disc;
    margin-left: 30px;
}

ul li {
    margin-bottom: 10px;
}

p strong {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}