.main-content{
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.leave-review-button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid #000000;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: background-color 0.6s ease;
    text-align: center;
}

.leave-review-button:hover {
    background-color: white;
    color: black;
}

.review {
    margin-bottom: 20px;
}

.review-author {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

.review-text {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

.review-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.review-rating {
    font-size: 16px;
    color: #777;
}

.review-date {
    font-size: 16px;
    color: #777;
}

.review-divider {
    border: 1px solid #ddd;
    margin: 20px 0;
}