.sidebar {
    width: 20vh; /* Ширина боковой панели */
    height: 100vh;
    float: left;
    position: fixed;
    color: #000; /* Цвет текста */
    padding: 20px; /* Отступы внутри боковой панели */
  }
  
  .sidebar ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px; /* Отступ между элементами меню */
  }
  
  .sidebar a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #000; /* Цвет ссылок */
  }
  
  .sidebar a:hover {
    color: #7c60a5;
  }

  main {
    margin-left: 25vh; /* Отступ слева, чтобы основной контент был справа от sidebar */
    padding: 20px; /* Отступы внутри main */
}
  
  
  
  