<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}{% endblock %}
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li style="display: inline;"><a href="{% url 'main:home' %}">Главная</a></li>
                    <li style="display: inline;"><a href="{% url 'doctors:doctors-list' %}">Сотрудники</a></li>
                    <li style="display: inline;"><a href="{% url 'services:services-list' %}">Услуги</a></li>
                    <li style="display: inline;"><a href="{% url 'main:price-list' %}">Прайс-лист</a></li>
                    <li style="display: inline;"><a href="#">О компании</a></li>
                    <li style="display: inline;"><a href="#">Контакты</a></li>
                    <li style="display: inline;"><a href="#">Отзывы</a></li>
                    <li style="display: inline;"><a href="#">Дополнительно</a></li>

                    {% if user.is_authenticated %}
                    <li style="display: inline;"><a href="{% url 'doctors:logout'%}?next={{request.path}}">Выйти</a></li>
                    <li style="display: inline;"><a href="#">Профиль</a></li>
                    {% else %}
                    <li style="display: inline;"><a href="{% url 'doctors:login'%}?next={{request.path}}">Войти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% block main %} {% endblock %}
        </main>

        <footer>

        </footer>
    </body>
</html>