{% extends "layout.html" %}

{% block head %}
<title>{{ service.service_name }}</title>
{% endblock %}

{% block main %}
<div class="service-details"  style="border: 2px solid rgb(0, 0, 0); border-radius: 10px; padding: 20px; width: 32em;">
    <h1>{{ service.service_name }}</h1>
    <p>Тип: {{ service.service_type }}</p>
    <p>Кабинет: {{ service.office }}</p>
    <p>Доктор: {{ service.doctor }}</p>
    <p>Цена: ${{ service.price }}</p>
    {% if service.image %}
      <img src="{{ service.image.url }}" alt="{{ service.service_name }}" width="300em" height="200em">
    {% endif %}

    <form method="post" action="{% url 'cart:add_to_cart' service.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Добавить в корзину</button>
  </form>
</div>
{% endblock %}
