{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/services/services-list.css'%}"/>

<title>Услуги</title>
{% endblock %}

{% block main %}
<div class="main-content">
    <ul class="services">
        {% for service in services %}
            <li>
                <img src="{{ service.image.url }}" style="width: 500px; height: 300px;">
                <h3>{{ service.service_name }}</h3>
                <p>{{ service.service_type }}</p>
                <a href="{% url 'services:service-detail' service.id %}">Подробнее</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}